In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")
df.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,9068.0,NaN
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.4,7876.0,NaN
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2364361.0,NaN
3,American Beauty,movie,Drama,1999.0,tt0169547,8.3,1244684.0,NaN
4,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,524602.0,NaN

In [3]:
print("Rows:",df.shape[0])
print("Column:",df.shape[1])

Rows: 21222
Column: 8

In [4]:
print(df.info)

<bound method DataFrame.info of                                  title   type                        genres  \
0                                Ariel  movie        Comedy, Crime, Romance
1                  Shadows in Paradise  movie          Comedy, Drama, Music
2                         Forrest Gump  movie                Drama, Romance
3                      American Beauty  movie                         Drama
4                    The Fifth Element  movie     Action, Adventure, Sci-Fi
...                                ...    ...                           ...
21217                              NaN     tv             Animation, Comedy
21218  Bleach: Thousand-Year Blood War     tv  Action, Adventure, Animation
21219                              NaN     tv                       Reality
21220                              NaN     tv                       Reality
21221              Malam Bertemu Subuh     tv                Drama, Romance

       releaseYear      imdbId  imdbAverageRating  imdbNumVotes  \
0           1988.0   tt0094675                7.4        9068.0
1           1986.0   tt0092149                7.4        7876.0
2           1994.0   tt0109830                8.8     2364361.0
3           1999.0   tt0169547                8.3     1244684.0
4           1997.0   tt0119116                7.6      524602.0
...            ...         ...                ...           ...
21217       2023.0         NaN                NaN           NaN
21218       2022.0  tt14986406                9.0       59278.0
21219       2025.0         NaN                NaN           NaN
21220       2013.0         NaN                NaN           NaN
21221       2023.0  tt28628460                NaN           NaN

      availableCountries
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
21217                NaN
21218                NaN
21219                NaN
21220                NaN
21221                NaN

[21222 rows x 8 columns]>

In [5]:
print(df.isnull().sum())

title                   694
type                      0
genres                  365
releaseYear              39
imdbId                 1580
imdbAverageRating      1766
imdbNumVotes           1766
availableCountries    21061
dtype: int64

In [6]:
df.drop(columns=['availableCountries'],inplace=True)

In [8]:
#filling the missing value in imdbAverageRating and imdbNumVotes with median
df['imdbAverageRating']=df['imdbAverageRating'].fillna(df['imdbAverageRating'].median())
df['imdbNumVotes']=df['imdbNumVotes'].fillna(df['imdbNumVotes'].median())

In [9]:
df['releaseYear'] = df['releaseYear'].fillna(df['releaseYear'].median()).astype(int)

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
print(df.info())  
print(df.isnull().sum())  # Ensure no missing values remain

<class 'pandas.core.frame.DataFrame'>
Index: 20805 entries, 0 to 21221
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              20527 non-null  object
 1   type               20805 non-null  object
 2   genres             20609 non-null  object
 3   releaseYear        20805 non-null  int64
 4   imdbId             19641 non-null  object
 5   imdbAverageRating  20805 non-null  float64
 6   imdbNumVotes       20805 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.3+ MB
None
title                 278
type                    0
genres                196
releaseYear             0
imdbId               1164
imdbAverageRating       0
imdbNumVotes            0
dtype: int64

In [12]:
df.to_csv("cleaned_netflix_data.csv", index=False)